@tailwind base;
@tailwind components;
@tailwind utilities;

body.light{
  background-color: white;
  color: black;
}

body.dark{
  background-color: black;
  color: white;
}

body{
  font-family: "Poppins", sans-serif;
  /* transition: background-color 0.5s, left 0.5s; */
  transition-delay: 0s, 1s;
  transition-timing-function: ease-in, ease-in-out;
}

body.light .shad{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body.dark .shad{
  box-shadow: rgb(255, 255, 255) 0px 0px 8px;
}

body.light .svg{
  fill: black;
}

body.dark .svg{
  fill: white;
}

.floating:hover {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.w45{
  width: 48%;
}

.example {
  transition: all 1s;
}

.example.preEnter,
.example.exiting {
  opacity: 0;
}

.example.exited {
  display: none;
}

.slider-container {
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  width: 100%;
}

.slider img {
  width: 100%;
  height: auto;
}

.slick-dots {
  list-style: none !important;
  display: flex !important;
  bottom: -15px !important;
  justify-content: center;
  margin-top: 20px; 
}

.slick-dots li {
  background-color: gray;
  height: 6px !important;
  border-radius: 99px;
  list-style: none;
  transition: all 0.5s;
}

body.dark .slick-dots li.slick-active{
  background-color: #fff;
  width: 30px;
  height: 0px;
  border-radius: 99px;
  list-style: none;
}

body.light .slick-dots li.slick-active{
  background-color: black;
  width: 30px;
  height: 0px;
  border-radius: 99px;
  list-style: none;
}

.slick-dots li button {
  background-color: #ccc;
  border: none;
  width: 8px;
  height: 5px;
  border-radius: 0;
  cursor: pointer;
}

.slick-dots li button:before{
  font-family: '' !important;
  font-size: 0px !important;
}

body.light .button{
  background-color: black;
  color: white;
}

body.dark .button{
  background-color: white;
  color: black;
}