@tailwind base;
@tailwind components;
@tailwind utilities;

body.light{
  background-color: white;
  color: black;
}

body.dark{
  background-color: black;
  color: white;
}

body{
  font-family: "Poppins", sans-serif;
  transition-delay: 0s, 1s;
  transition: all 0.5s;
}

body.light .shad{
  border: 1px solid rgb(212, 212, 212);
}

body.dark .shad{
  border: 1px solid rgb(212, 212, 212);
}

body.light .svg{
  fill: white;
}

body.dark .svg{
  fill: black;
}

body.light .arrow{
  fill: black;
}

body.dark .arrow{
  fill: white;
}

body.light .search{
  fill: rgb(151, 151, 151);
}

body.dark .search{
  fill: rgb(151, 151, 151);
}

.floating:hover {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.0s;
  -webkit-animation-duration: 1.0s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.w45{
  width: 48%;
}


.slider-container {
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  width: 100%;
}

.slider img {
  width: 100%;
  height: auto;
}

.slick-dots {
  list-style: none !important;
  display: flex !important;
  bottom: -15px !important;
  justify-content: center;
  margin-top: 20px; 
}

.slick-dots li {
  background-color: gray;
  height: 6px !important;
  border-radius: 99px;
  list-style: none;
  transition: all 0.5s;
}

body.dark .slick-dots li.slick-active{
  background-color: #fff;
  width: 30px;
  height: 0px;
  border-radius: 99px;
  list-style: none;
}

body.light .slick-dots li.slick-active{
  background-color: black;
  width: 30px;
  height: 0px;
  border-radius: 99px;
  list-style: none;
}

.slick-dots li button {
  background-color: #ccc;
  border: none;
  width: 8px;
  height: 5px;
  border-radius: 0;
  cursor: pointer;
}

.slick-dots li button:before{
  font-family: '' !important;
  font-size: 0px !important;
}

body.light .button{
  background-color: black;
  color: white;
}

body.dark .button{
  background-color: white;
  color: black;
}

body.light input{
  background-color: transparent;
  color: black;
}

body.dark input{
  background-color: transparent;
  color: white;
}

#search-input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.red{
    background: lime;
    width: 13px;
    height: 13px;
    border-radius: 99px;
    position: absolute;
    margin-left: 20px;
    border: 2px solid white;
}

.slick-prev{
  display: none !important;
}

.slick-next{
  display: none !important;
}
