@tailwind base;
@tailwind components;
@tailwind utilities;

body.light{
  background-color: white;
  color: black;
}

body.dark{
  background-color: black;
  color: white;
}

body{
  font-family: 'SF Pro Display', sans-serif;
  /* transition: background-color 0.5s, left 0.5s; */
  transition-delay: 0s, 1s;
  transition-timing-function: ease-in, ease-in-out;
}

body.light .shad{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body.dark .shad{
  box-shadow: rgb(255, 255, 255) 0px 0px 8px;
}

/* body.light .svg{
  fill: black;
}

body.dark .svg{
  fill: white;
} */

.example {
  transition: all 1s;
}

.example.preEnter,
.example.exiting {
  opacity: 0;
}

.example.exited {
  display: none;
}